*build/
build
*dist/
*.egg-info
*__pycache__
*htmlcov/
*.coverage
*.iml
*.DS_Store
*.eggs
*venv
*vscode

# GDK Build
bundle.zip
testResults
cucumber.json
TEST-greengrass-results.xml
gg-e2e-tests/target
